.about-container {
  padding: 2em 1em;
  width: 100%;
}

.about-text {
  width: 65%;
  float: left;
}

.portrait {
  float: right;
  width: 30%;
  margin-top: 1em;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .about-container {
    display: flex;
    flex-flow: column nowrap;
  }
  .about-text {
    float: none;
    width: 100%;
  }

  .portrait {
    float: none;
    width: max(15em, 50%);
    margin-left: auto;
    margin-right: auto;
  }

}