.container {
  margin: 1em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.education {
  flex: 1 0 20em;
  max-width: 25em;
}

.school {
  margin-bottom: 0.5em;
}

.type {
  margin-bottom: 0;
  color: var(--color-link);
}

.major {
  color: var(--color-primary);
}

.courses {
  margin-top: 1em;
}

.courses ul{
  padding-left: 1em;
  list-style-type: none;
}

.courses li {
  text-indent: -5px;
}
.courses li:before {
  content: "– ";
  text-indent: -5px;
}