/* Color Theming */
:root {
  --color-bg-left: #effafb;
  --color-bg-right: #f5fff7; 
  --color-text: #333
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-left: #103D42;
    --color-bg-right: #003d0d; 
    --color-text: #ddd;
  }
}
*/

* {
  box-sizing: border-box;
  color: var(--color-text);
}

/* Custom Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #bbb var(--color-bg-right);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-bg-right);
}
body::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border: 3px solid var(--color-bg-right);
  border-radius: 8px;
}
body::-webkit-scrollbar-corner {
  background-color: var(--color-bg-right);
}
