/* Color Theming */
:root {
  --color-primary: #2CA58D;
  --color-secondary: #A3CCB5;
  --color-bg-left: #effafb;
  --color-bg-right: #f5fff7; 
  --color-text: #6c757d;
  --color-link: #185B63;
  --color-link-hover: #30B6C5;
  --color-shadow-primary: rgba(44, 165, 141, 0.5);
  --time-color-transition: 0.3s;
  --padding-x: 5vw;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-left: #103D42;
    --color-bg-right: #003d0d; 
    --color-text: #ddd;
  }
}
*/

/* Global Styling */
* {
  box-sizing: border-box;
  color: var(--color-text);
}
body {
  background: linear-gradient(to right, var(--color-bg-left), var(--color-bg-right));
  background-color: var(--color-bg-right);
}

/* Custom Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #bbb var(--color-bg-right);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-bg-right);
}
body::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border: 3px solid var(--color-bg-right);
  border-radius: 8px;
}
body::-webkit-scrollbar-corner {
  background-color: var(--color-bg-right);
}

/* Translucent Background */
.bg-translucent {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@supports not (backdrop-filter: blur(5px)) {
  .bg-translucent {
    background: rgba(255, 255, 255, 0.8);
  }
}

/* Links */
.link {
  color: var(--color-link);
  text-decoration: none;
  transition: all var(--time-color-transition);
}
.link:hover{
  color: var(--color-link-hover);
}

/* Button Gradient Oultine */
.btn-gradient-outline {
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn-gradient-outline:hover {
  color: var(--color-bg-right) !important;
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary)) !important;
  border-color: var(--color-primary) !important;
}
.btn-gradient-outline:focus {
  box-shadow: 0 0 0 0.25rem var(--color-shadow-primary) !important;
}