.icon path {
  color: var(--color-text);
}

.icon-link {
  height: 2rem;
  width: 2rem;
}
.icon-link path {
  color: var(--color-link);
  transition: color var(--time-color-transition);
}
.icon-link:hover path{
  color: var(--color-link-hover);
}