.show {
  visibility: visible;
  transition: all 300ms ease-in;
}
.hide {
  visibility: hidden;
  transition: all 400ms ease-out;
  transform: translate(0, -100%);
}
/*
.show.shadow {
  box-shadow: 20px 20px ;
}
*/

.resume {
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.resume:hover {
  color: var(--color-bg-right) !important;
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary)) !important;
  border-color: var(--color-primary) !important;
}
.resume:focus {
  box-shadow: 0 0 0 0.25rem var(--color-shadow-primary) !important;
}