.project-container {
  width: fit-content;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 0 0;
  place-items: stretch;
  place-content: center;
}
@media (max-width: 60em) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 40em) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.project {
  min-width: 15em;
  max-width: 22em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.project-title {
  margin-top: 1em;
}
.project-title a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
}

.link-container {
  float: right;
}

.tag-container {
  text-align: center;
  padding-top: 0.5em;
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  margin: 0.2em;
  padding: 0.1em 0.7em;
  background-color: rgba(24, 91, 99, 0.1);
  border-radius: 1em;
}